@import "../../styles/variables.scss";

.container {
  width: 600px;
  height: 400px;
  padding: 3rem;
  display: grid;
  place-content: center;
  background-color: $danger;
  border-radius: 10px;
  gap: 5rem;
  color: $primary;
}

.h1 {
  font-size: $font-lg;
}

.link {
  background-color: $primary;
  color: $secondary;
  text-align: center;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: $md) {
  .container {
    width: 100%;
  }
}

@media (max-width: $sm) {
  .container {
    max-width: 90%;
    justify-self: center;
  }
}
