$max-width: 1400px;
$border-radius: 12px;
$font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
  "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

$foreground-rgb: 0, 0, 0;
$background-start-rgb: 214, 219, 220;
$background-end-rgb: 255, 255, 255;
$primary: #262322;
$secondary: #f7ebe8;
$terciary: #59c9a5;
$success: #56e39f;
$danger: #ff4365;

// breakpoints

$sm: "640px";
$md: "768px";
$lg: "1024px";
$xl: "1280px";
$xxl: "1536px";

//font-sizes

$font-sm: 1rem;
$font-md: 1.2rem;
$font-mmd: 1.5rem;
$font-lg: 1.8rem;
$font-xl: 3rem;
$font-xxl: 4rem;
